{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="container-fluid inner">
    <div class="row">
        <ul class="footer-nav col-xs-12 col-sm-4">
            <li><a href="{{ url('help_about') }}">当サイトについて<svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></a></li>
            <li><a href="{{ url('help_privacy') }}">プライバシーポリシー<svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></a></li>
            <li><a href="{{ url('help_tradelaw') }}">特定商取引法に基づく表記<svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></a></li>
            <li><a href="{{ url('contact') }}">お問い合わせ<svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></a></li>
        </ul>
        <ul class="col-xs-12 col-sm-4">
            {#
            <li>add category or other menu
                <svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></li>
                #}
        </ul>
        <div class="footer_logo_area col-xs-12 col-sm-4 ">
            <a href="{{ url('homepage') }}">
                <p class="copy">くらしを楽しむライフスタイルグッズ</p>
                <p class="logo">{{ BaseInfo.shop_name }}</p>
            </a>
        </div>
    </div>
    <div class="row">
        <p class="footer-copyright col-xs-12">
            <small>copyright (c) {{ BaseInfo.shop_name }} all rights reserved.</small>
        </p>
    </div>
</div>

