{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div id="contents_top" class="row">
    <div class="category_header col-xs-12">
        <h2 class="heading01">PICK UP</h2>
    </div>
    <div id="item_list col-xs-12">

        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img01.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img02.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img03.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img04.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->

        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img05.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img06.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img07.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img08.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img09.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img10.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img11.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
        <div class="col-sm-3 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/new-item-img12.jpg"></div>
                </a>
            </div>
        </div><!--/pickup_item-->
    </div><!--/item_list-->
</div><!--contents_top-->